<div id="page-content-wrapper">
    <div class="btn-container">
        <div class="container text-center">
            <!--<img src="/images/csafelogo.png" class="img-fluid">-->
            <!--<h1 class="display-3">handwriter</h1>-->
            <button onclick="window.location='/newdocuments'"
                    type="button" class="btn btn-outline-primary">New Document</button>
            </br></br>
            <button type="button" class="btn btn-outline-success">Existing Documents</button>
            <br><br>
            <button href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</button>
        </div>
    </div>
    <!--<div class="container-fluid">-->


    <!--</div>-->
    <!--<div id="image-cropper">-->
        <!--<div class="cropit-preview"></div>-->

        <!--<input type="range" class="cropit-image-zoom-input" />-->

        <!--<input type="file" class="cropit-image-input" />-->
        <!--<div class="select-image-btn">Select new image</div>-->
    <!--</div>-->
</div>
