<div id="page-content-wrapper">
    <script src="/assets/two.js"></script>
    <script src="/javascripts/drawOnImageUtils.js"></script>
    <script src="/javascripts/featureUtils.js"></script>
    <script src="/javascripts/inspectDoc.js"></script>
    <div class="options-container">
        <div class="row text-center">
            <div class="col-sm">
                <button id="thinned" type="button" class="btn btn-light">
                    View Thinned
                </button>
            </div>
            <div class="col-sm">
                <button id="both" type="button" class="btn btn-light">
                    View Both
                </button>

            </div>
            <div class="col-sm">
                <button id="og" type="button" class="btn btn-light">
                    View Original
                </button>

            </div>
            <div class="col-sm">
                <button id="data" type="button" class="btn btn-light" data-toggle="modal" data-target="#info1">
                    View Data
                </button>

            </div>
        </div>
    </div>
    <div class="btn-container">
        <div class="container text-center">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.css" />
                <div id="croppie-targ"></div>
                <div id="inspectTarg">
                <img src=''/>
                </div>
                <div id="draw-shapes"></div>
                <!--</form>--> <!--<script src="/sweetalert/dist/sweetalert.min.js"></script>-->
                <script src="/sweetalert2/dist/sweetalert2.all.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js"></script>
                <div class="upload-result">
                </div>

            </br>
            <!--<button type="button" class="btn btn-outline-success">Existing Documents</button>-->
            <!--<br><br>--> <!--<button href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</button>-->
        </div>
    </div>
    <div id="append-targ"></div>
</div>
