
a {
  color: #00B7FF;
}
.preview img
{
	width: 99px;
}

.center{
    text-align: center;
}

#particles-js{
    height: 100%;
    width: 100%;
    background: gray;
}

#headerbar{
    background-color: #ffffff;
    margin: 0;
    padding: 1%;
    border: groove;
}

.f_csafe_title{
    font-family: 'Monsterrant', sans-serif;
    font-size: 50px;
}